 .BannerParent{
  width:100%;
  display:flex;
  justify-content:center;
 }
.bannerbox{
  display:flex;
  width:65%;

}
.banner{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
 min-height: 60vh;        /* full screen height */
  justify-content: center; 

}
.heading{
       font-size: 64px;
  font-weight: 900;
  color:white;
  margin-bottom:20px;
  text-align:center;
  font-size: clamp(28px, 5vw, 42px);
  width:67.5%;
}
.membership {
    font-size: clamp(20px, 5vw, 23px);
  font-weight: 700;
  margin-top:0px;
   text-align:center;
}
.membership1 {
    font-size: clamp(15px, 5vw, 19px);
  font-weight: 100;
 text-align:center;
  
}
  .inputbutton {
  width: 450px;
  height: 54px;
  padding: 4px 16px 0px 16px;
  border: 1px solid rgba(128, 128, 128, 0.7);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 16px;
  font-weight: 400;
  border-radius:5px;
}
.inputbutton::placeholder{
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}
 
 .getstartbutton {
  height: 60px;
  padding: 0 45px;
  font-size: 20px;
  font-weight: 600;
  background-color: #e50914;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius:5px;
}
.gotoplan{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  width:100%;
  justify-content:center;
}