.curveline {
    
   height:150px;
   border-top:5px #ff0055 solid;
    border-top-left-radius: 50% 45%;   /* decrease a little more */
   border-top-right-radius: 50% 45%;
   position:relative;
    width:120%;
left:-10%;
 
   margin-top:14vh;
   background:black;
   
}
.curveline::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,       /* fully black */
        rgba(0, 0, 0, 0.8) 10%,    /* slightly transparent */
        rgba(0, 0, 0, 0) 25%,      /* fully transparent */
        rgba(0, 0, 0, 0) 75%,      /* fully transparent */
        rgba(0, 0, 0, 0.8) 90%,    /* slightly transparent */
        rgba(0, 0, 0, 1) 100%      /* fully black */
    );
}
.curveline::after{
    content:' ';
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    background: radial-gradient(ellipse 30% 50% at 50% 0%, #0d1b3e 0%, transparent 100%);
}