.hero{
    width:100%;
    min-height:100vh;/* to ask */
    
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/bg.jpg');
     background-position:center;
     background-size:cover;
     background-repeat:no-repeat;
}