.membership1 {
   font-size: 19px;
  font-weight: 100;
color: white;
  
}
  .inputbutton1 {
        min-width:50%;
        flex:1;
    height: 54px;
  padding: 4px 16px 0px 16px;
  border: 1px solid rgba(128, 128, 128, 0.7);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 16px;
  font-weight: 400;
  border-radius:5px;
 
}
.inputbutton1::placeholder{
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}
.gotoplan1{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width:90%;
    gap:8px;
     flex-wrap:wrap;
}
 
.getstartbutton1 {
  min-width:150px;
  height: 60px;
  width:20%;
  padding: 0 45px;
  font-size: 1.5em;
  font-weight: 600;
  background-color: #e50914;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius:5px;
   
}
.MembershipCTA{
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:center;
    justify-content:center;
    margin-top:25px;
    padding-top:25px
}
.CTA{
    display:flex;
    width:90%;
    justify-content:center;
}
